.overover{
    overflow-y: scroll;
    height: 349px;
    scrollbar-width: none;
}
.overover::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px){
    .overover{
        height: auto;
        overflow-y: visible;
    }
}